html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#top-menu {
  border-radius: 0;
  margin-bottom: 0;
}
#main {
  position: absolute;
  top: 39px;
  bottom: 0;
  right: 0;
  left: 0;
}
#main .row,
#main .row .column,
#main .row .column #editor {
  height: 100%;
}
#main .row .column {
  padding: 0;
}
#main .row .column #editor .ace_gutter {
  background-color: #333333;
  background-image: -moz-linear-gradient(left, #333333, #333333);
  background-image: -ms-linear-gradient(left, #333333, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
  background-image: -webkit-linear-gradient(left, #333333, #333333);
  background-image: -o-linear-gradient(left, #333333, #333333);
  background-image: linear-gradient(left, #333333, #333333);
}
#main #result {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*******************************
             Global
*******************************/
html,
body {
  font-size: 15px;
}
ul.list {
  list-style-type: disc;
}
ul.list li {
  list-style-position: outside;
}
/* text and headers */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h4 + p {
  margin: 0px 0px 20px;
}
pre {
  background-color: #F0F0F0;
}
p {
  margin: 1em 0em;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}
/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}
